@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 4px;
  color: #7f00ff;
  transition: all .4s ease;
}

::-webkit-scrollbar-thumb {
  background: #7f00ff;
  border-radius: 4px;
  width: 4px;
  transition: all .4s ease;
}

::-webkit-scrollbar-track {
  background: #101010;
  border-radius: 4px;
  width: 4px;
}

.scale-sm:hover{
  scale: 1.035;
}

.custom-word-wrap{
  overflow-wrap: break-word;
}